@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight:lighter;
    font-style: normal;
    font-size: 16px;
}
