.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    gap: 48px;
}

.menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

.menu-item a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Montserrat';
}

.active-item span {
    color: var(--primary);
    border-bottom: 2px solid;
}

.search-form {
    height: auto;
    display: flex;
    align-items: center;
    /* gap: -1px; */
}

.input-search {
    padding: 0;
    margin: 0;
    padding: 12px 11px;
    font-size: 16px;
    line-height: 22px;
    width: 28vw;
    max-width: 533px;
    border: 2px solid var(--primary);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button-search {
    border: 3.5px solid var(--primary);
    height: 100%;
    background: var(--primary);
    padding: 10px 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button-search img {
    color: var(--white);
    block-size: 20px;
    inline-size: 20px;
}